{% extends "/layouts/basetw.twig" %}

{% block main %}

<article class="single-entry-wrapper">
	<header class="single-entry-header" role="heading" aria-level="1">
		<h2>{{ post.title }}</h2>
	</header>
</article>

<div class="editions-list blog-list">
{% for post in posts %}
	{% set img = Image( post.guest_editor.photo ) %}
	<a class="edition blog-post guest-post" href="{{ post.link }}">
		<div>
			<picture class="post-cover m-b-20" role="img">
				<source media="(max-width:640px)" type="image/webp"
					srcset="{{ img | resize(640,640, 'center') | towebp }}"
					width="640" height="640">
				<source media="(max-width:640px)"
					srcset="{{ img | resize(640,640, 'center') }}"
					width="640" height="640">
				<source media="(min-width: 641px) and (max-width:1023px)" type="image/webp"
					srcset="{{ img | resize(1024,1024, 'center') | towebp }}"
					width="1024" height="1024">
				<source media="(min-width: 641px) and (max-width:1023px)"
					srcset="{{ img | resize(1024, 1024, 'center') }}"
					width="1024" height="1024">
				<source media="(min-width:1024px)" type="image/webp"
					srcset="{{ img | resize(500,500, 'center') | towebp }}"
					width="500" height="500">
				<img src="{{ img | resize(500,500, 'center') }}"
					alt="{{ post.title }}" loading="lazy"
					width="500" height="500">
			</picture>
			<h2>{{ post.guest_editor.name }}</h2>
			{{ post.guest_editor.description | wpautop }}
			<small>{{ __( 'read more', 'sasquatch' ) }}</small>
		</div>
	</a>
{% endfor %}
</div>

{% endblock %}
