{% extends "/layouts/basetw.twig" %}
{% set img = Image( post.thumbnail ) %}

{% block main %}


<article class="single-entry-wrapper">
	<div class="single-entry-onecolumn">
		<div class="item" role="article">

			<header class="single-entry-header article-entry-header" role="heading" aria-level="1">
				<time>{{ post.date( options.date_format ) }}</time>
				<h2>{{ post.title }}</h2>
			</header>
			{% if img is not empty %}
			<picture class="post-cover m-b-50" role="img">
				<source
					media="(max-width:640px)"
					type="image/webp"
					srcset="{{ img | resize( 640, 320, 'center' ) | towebp }}"
					width="640"
					height="320"
				/>
				<source
					media="(max-width:640px)"
					srcset="{{ img | resize( 640, 320, 'center' ) }}"
					width="640"
					height="320"
				/>
				<source
					media="(min-width: 641px) and (max-width:1023px)"
					type="image/webp"
					srcset="{{ img | resize( 1024, 512, 'center' ) | towebp }}"
					width="1024"
					height="512"
				/>
				<source
					media="(min-width: 641px) and (max-width:1023px)"
					srcset="{{ img | resize( 1024, 512, 'center' ) }}"
					width="1024"
					height="512"
				/>
				<source
					media="(min-width:1024px)"
					type="image/webp"
					srcset="{{ img | resize( 1200, 600, 'center' ) | towebp }}"
					width="1200"
					height="600"
				/>
				<img
					src="{{ img | resize( 1200, 600, 'center' ) }}"
					alt="{{ img.title }}"
					width="1200"
					height="600"
					loading="{{ fields.disable_lazy_load ? 'eager' : 'lazy' }}"
				/>
			</picture>
			{% endif %}

			<div class="entry-content">

				{{ post.content }}

				<h4>{{ __( 'Podoba Ci się ten artykuł? Podaj go dalej!', 'sasquatch' ) }}</h4>
				<div class="share">
					<a href="{{ post.link | fb_share_url }}" target="_blank" rel="noopener">
						{% include 'views/parts/icons/facebook.twig' %}
						{{ __( 'Udostępnij na Facebooku', 'sasquatch' ) }}
					</a>
					<a href="{{ post.link | ln_share_url }}" target="_blank" rel="noopener">
						{% include 'views/parts/icons/linkedin.twig' %}
						{{ __( 'Udostępnij na Linkedin', 'sasquatch' ) }}
					</a>
					<a href="{{ post.link | tt_share_url }}" target="_blank" rel="noopener">
						{% include 'views/parts/icons/twitter.twig' %}
						{{ __( 'Udostępnij na Twitterze', 'sasquatch' ) }}
					</a>
				</div>
			</div>
		</div>

		{# <aside class="item entry-sidebar" role="form">
			{% include 'views/parts/sidebar.twig' %}
		</aside> #}
	</div>
</article>
{% if post.post_type == 'post' %}
	{% include 'views/parts/editions-scroll.twig' %}
{% elseif post.post_type == 'articles' %}
	{% include 'views/parts/articles-scroll.twig' with { articles: other_posts, more: true } %}
{% endif %}
{% endblock %}
