{% extends "/layouts/basetw.twig" %}

{% block main %}

<div class="md:grid md:grid-cols-2 md:gap-20 items-center mt-20">

	<div class="owl-intro prose prose-lg mb-10 md:mb-0 dark:text-owl-dark-beige">
		<span class="uppercase font-owlFont text-owl-orange mb-6 block">{{ post.meta('name') }}</span>
		<h1 class="lg:text-h1lg md:text-h1md sm:text-h1sm mb-10 text-owl-dark-blue dark:text-owl-dark-beige">
			{{ post.title }}
		</h1>
		{{ post.meta('description') }}
		<div class="text-right">
			<a href="#content" class="inline-block p-4">
				<img src="{{ theme.link }}/dist_tw/images/arrow-down-orange.svg" class="m-0" alt="scroll down">
			</a>
		</div>
	</div>

	<div>
		<div class="picture relative">
			<div class="absolute bottom-10 right-10 z-20">
				{% include 'views/parts/icons/dots-white.twig' %}
			</div>

			<div class="absolute -top-20 -left-2/4 -z-10 dark:opacity-40">
				{% include 'views/parts/icons/dots-dark.twig' %}
			</div>

			<div class="owl-gradient rounded-tr-[50px] z-40"></div>

			{% set image = Image( post.thumbnail ) %}
			<picture>
				<source media="(max-width:767px)"
					srcset="{{ image|resize( 650, 550 )|towebp }}"
					width="650" height="550"
				/>

				<source media="(min-width: 768px) and (max-width:1023px)"
					srcset="{{ image|resize( 400, 750 )|towebp }}"
					width="400" height="750"
				/>

				<img class="rounded-tr-[50px]"
					src="{{ image|resize( 750, 750 )|towebp }}"
					alt="{{ image.alt }}"
					width="750" height="750"
				>
			</picture>
		</div>
	</div>

</div>

<div id="content" class="owl-content">

	<div class="owl-short-bio md:grid md:grid-cols-4 mt-10 md:mt-0 text-sm text-gray-500 dark:text-gray-400">
		<div>
			{% if post.meta('twitter') %}
			<a href="https://twitter/{{ post.meta('twitter') }}" target="_blank"
				class="uppercase font-owlFont text-owl-dark-blue hover:text-owl-orange block mb-2 dark:text-owl-light-green dark:hover:text-owl-orange ">{{
				post.meta('name') }} // @{{ post.meta('twitter') }}</a>
			{% endif %}

			{{ post.meta( 'short_bio' ) | wpautop }}
		</div>
	</div>

	<div class="owl-content-inner mt-20 mb-20 prose prose-lg mx-auto dark:text-owl-dark-beige dark:prose-strong:text-owl-dark-beige">

		{#
		<div class="owl-faq relative pb-10 mb-10">
			<h2 class="sm:text-h2sm md:text-h2md lg:text-h2lg mb-10 mt-0">
				<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mattis pulvinar pulvinar?</span>
			</h2>

			<div class="answer">
				<p>
					<strong class="text-owl-green">{{ post.title }}:</strong> eget lorem tempus, facilisis est ac,
					mattis ligula. Sed nec nulla velit. Pellentesque sed tincidunt tortor. Suspendisse porttitor eu dui
					ac aliquam. Proin sed ante id nunc egestas consequat. Aliquam erat volutpat. Aenean aliquet risus ut
					rhoncus auctor. Suspendisse condimentum turpis sit amet ipsum tristique, sit amet convallis urna
					tincidunt. Ut bibendum sagittis dignissim. Suspendisse pretium scelerisque faucibus. Nulla odio
					sapien, finibus a leo ut, suscipit convallis ligula.
				</p>

				<p>
					Integer maximus malesuada neque. Nam dictum sodales lectus, eu mattis diam iaculis at. Pellentesque
					nec dui venenatis, malesuada sapien vitae, fringilla justo. Nunc lobortis tincidunt luctus. Aenean
					imperdiet arcu eget eros consectetur aliquet. Pellentesque habitant morbi tristique senectus et
					netus et malesuada fames ac turpis egestas. Duis ultrices ligula felis, et consequat turpis sagittis
					in.
				</p>
			</div>

			<div class="absolute bottom-0 right-0 z-10">
				{% include 'views/parts/icons/dots-line.twig' %}
			</div>
		</div>
		#}
		{#
		<div class="owl-faq owl-faq-image owl-faq relative md:grid md:grid-cols-2 md:gap-20 md:items-center">
			<div class="relative">
				<div class="absolute bottom-14 -right-6 z-10">
					{% include 'views/parts/icons/dots-dark.twig' %}
				</div>
				<picture>
					<img src="https://images.unsplash.com/photo-1492447166138-50c3889fccb1?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=700&h=700"
						alt="">
				</picture>
			</div>

			<div>
				<h2 class="sm:text-h2sm md:text-h2md lg:text-h2lg mb-10 mt-0">
					<span>Ut bibendum sagittis dignissim. Suspendisse pretium scelerisque?</span>
				</h2>
				<div class="answer">
					<p>
						<strong class="text-owl-green">{{ post.title }}:</strong> eget lorem tempus, facilisis est ac,
						mattis ligula. Sed nec nulla velit. Pellentesque sed tincidunt tortor. Suspendisse porttitor eu
						dui ac aliquam. Proin sed ante id nunc egestas consequat. Aliquam erat volutpat. Aenean aliquet
						risus ut rhoncus auctor. Suspendisse condimentum turpis sit amet ipsum tristique, sit amet
						convallis urna tincidunt. Ut bibendum sagittis dignissim. Suspendisse pretium scelerisque
						faucibus. Nulla odio sapien, finibus a leo ut, suscipit convallis ligula.
					</p>
				</div>
			</div>
		</div>
		#}

		{#
		<div class="owl-faq relative pb-10 mb-10">
			<h2 class="sm:text-h2sm md:text-h2md lg:text-h2lg mb-10 mt-0">
				<span>Ut bibendum sagittis dignissim. Suspendisse pretium scelerisque?</span>
			</h2>

			<div class="answer">
				<p>
					<strong class="text-owl-green">{{ post.title }}:</strong> eget lorem tempus, facilisis est ac,
					mattis ligula. Sed nec nulla velit. Pellentesque sed tincidunt tortor. Suspendisse porttitor eu dui
					ac aliquam. Proin sed ante id nunc egestas consequat. Aliquam erat volutpat. Aenean aliquet risus ut
					rhoncus auctor. Suspendisse condimentum turpis sit amet ipsum tristique, sit amet convallis urna
					tincidunt. Ut bibendum sagittis dignissim. Suspendisse pretium scelerisque faucibus. Nulla odio
					sapien, finibus a leo ut, suscipit convallis ligula.
				</p>

				<p>
					Integer maximus malesuada neque. Nam dictum sodales lectus, eu mattis diam iaculis at. Pellentesque
					nec dui venenatis, malesuada sapien vitae, fringilla justo. Nunc lobortis tincidunt luctus. Aenean
					imperdiet arcu eget eros consectetur aliquet. Pellentesque habitant morbi tristique senectus et
					netus et malesuada fames ac turpis egestas. Duis ultrices ligula felis, et consequat turpis sagittis
					in.
				</p>
			</div>

			<div class="absolute bottom-0 right-0 z-10">
				{% include 'views/parts/icons/dots-line.twig' %}
			</div>
		</div>
		#}
		{{ post.content }}

	</div>
</div>

{%
include 'parts/social-media.twig' with {
'header': 'If you like this interview, pleas share it.',
'link': post.link,
}
%}

{% if other_posts %}
<div class="">
	<h3 class="text-owl-green mb-7 text-center text-2xl">
		Read other interviews:
	</h3>
</div>
<div class="mb-20 lg:grid lg:grid-cols-3 lg:gap-4">
	{% for interview in other_posts %}
		{% include 'views/parts/interviews-entry.twig' %}
	{% endfor %}
</div>
{% endif %}

{% endblock %}
