{% extends "/layouts/basetw.twig" %}

{% block main %}

<article class="single-entry-wrapper">
	<header class="single-entry-header" role="heading" aria-level="1">
		<h2>{{ post.title }}</h2>
	</header>
	<div class="single-entry-columns">
		<div class="item entry-content" role="article">
			{{ post.content }}
		</div>
	</div>
</article>


<div class="editions-list podcast-list">
{% for post in posts %}
	{% set img = Image( post.thumbnail ) %}
	<a class="edition blog-post podcast-post" href="{{ post.link }}">
		<div>
			<picture class="post-cover m-b-20" role="img">
				<source type="image/webp"
					srcset="{{ img | towebp }}"
					width="700" height="393">
				<img src="{{ img }}"
					alt="" loading="lazy"
					width="700" height="393">
			</picture>
			<h2>{{ post.title }}</h2>
			<small>listen now</small>
		</div>
	</a>
{% endfor %}
</div>

{% endblock %}
