{% set img = Image( fields.obrazek ) %}

<div class="wordpressowka-block">
	<div class="wordpressowka-link photo" role="link">
		<picture role="img">
			<source
				media="(max-width:880px)"
				type="image/webp"
				srcset="{{ img | resize( 880, 450, 'center' ) | towebp }}"
				width="880"
				height="450"
			/>
			<source
				media="(max-width:880px)"
				srcset="{{ img | resize( 880, 450, 'center' ) }}"
				width="880"
				height="450"
			/>
			<source
				media="(min-width: 811px) and (max-width:1023px)"
				type="image/webp"
				srcset="{{ img | resize( 1024, 900, 'center' ) | towebp }}"
				width="1024"
				height="900"
			/>
			<source
				media="(min-width: 811px) and (max-width:1023px)"
				srcset="{{ img | resize( 1024, 900, 'center' ) }}"
				width="1024"
				height="900"
			/>
			<source
				media="(min-width: 1024px)"
				type="image/webp"
				srcset="{{ img | resize( 208, 270, 'center' ) | towebp }}"
				width="208"
				height="270"
			/>
			<img
				src="{{ img | resize( 208, 270, 'center' ) }}"
				alt="{{ img.title }}"
				width="208"
				height="270"
				loading="{{ fields.disable_lazy_load ? 'eager' : 'lazy' }}"
			/>
		</picture>
		<div class="inner">
			{% if fields.header %}
				<h2>{{ fields.header }}</h2>
			{% endif %}
			{{ fields.opis }}
			<div>
				<a href="{{ fields.link.url }}" title="{{ fields.link.title }}" class="link" target="_blank" rel="noopener">{{ fields.link.title }}</a>
			</div>
		</div>
	</div>
</div>
