<div class="wordpressowka-block">
    <div class="wordpressowka-link" role="link">
        <div class="inner">
            {% if fields.header %}
                <h2>{{ fields.header }}</h2>
            {% endif %}
            {{ fields.opis }}
            <div>
                <a href="{{ fields.link.url }}" title="{{ fields.link.title }}" class="link" target="_blank" rel="noopener">{{ fields.link.title }}</a>
            </div>
        </div>
    </div>
</div>
