<section class="gutenberg-wordpressowka-block">
    <div class="gutenberg-newsletter-block">
        <div class="left">
            <h2>{{ __( 'Dołącz do WordPressowych Sówek', 'sasquatch' ) }} </h2>
            <p>{{ __( 'Zapisz się na newsletter i bądź na bieżąco z aktualnymi informacjami na temat WordPressa! Jako pierwszy dowiesz się o nowym wydaniu WordPressówki.', 'sasquatch' ) }}</p>
            <a href="{{ site.url }}/newsletter">{{ __( 'Zapisz się na Newsletter', 'sasquatch' ) }}</a>
        </div>
        <div class="right">
            <img src="{{ site.url }}/app/uploads/2019/05/wordpressowkaNSLbox.png" alt="">
        </div>
    </div>
</section>
