<footer id="footer">
	{% include 'views/parts/logo.twig' %}

	<ul>
	{% for item in menu.footer.get_items %}
		<li>
			<a href="{{ item.link }}" target="{{ item.target }}" {{ item.target == '_blank' ? 'rel="noopener"' }}>
				<span>{{ item.title }}</span>
			</a>
		</li>
	{% endfor %}
	</ul>

	<p>
		{{ site.name }} &copy; {{ now|date('Y') }}. Crafted with love by <a href="https://maciejpalmowski.dev/" rel="noopener" target="_blank" title="Maciej Palmowski - WordPress Developer">Maciej Palmowski</a> and <a href="https://agnieszkapalmowska.myportfolio.com/" target="_blank" title="Agnieszka Palmowska - UI Designer" rel="noopener">Agnieszka Palmowska</a>
	</p>

	<div class="links">
		{% if options.facebook %}
		<a href="{{ options.facebook }}" target="_blank" rel="noopener" aria-label="facebook">
			{% include 'views/parts/icons/facebook.twig' %}
		</a>
		{% endif %}
		{% if options.linkedin %}
		<a href="{{ options.linkedin }}" target="_blank" rel="noopener" aria-label="linkedin">
			{% include 'views/parts/icons/linkedin.twig' %}
		</a>
		{% endif %}
		{% if options.instagram %}
		<a href="{{ options.instagram }}" target="_blank" rel="noopener" aria-label="instagram">
			{% include 'views/parts/icons/instagram.twig' %}
		</a>
		{% endif %}
		{% if options.twitter %}
		<a href="{{ options.twitter }}" target="_blank" rel="noopener" aria-label="twitter">
			{% include 'views/parts/icons/twitter.twig' %}
		</a>
		{% endif %}
		{% if options.anchor %}
		<a href="{{ options.anchor }}" target="_blank" rel="noopener" aria-label="anchor">
			{% include 'views/parts/icons/anchor.twig' %}
		</a>
		{% endif %}
	</div>
</footer>
