<footer id="footer" class="container mx-auto px-4 my-10">
	<div class="flex flex-row content-center justify-center text-center">
		{% include 'views/parts/logotw.twig' %}
	</div>

	<ul class="block md:flex md:flex-row md:gap-x-6 items-center text-center content-center justify-center mt-10 md:mt-20">
	{% for item in menu.footer.get_items %}
		<li>
			<a class="text-owl-dark-blue hover:text-owl-orange dark:text-owl-light-beige dark:hover:text-owl-orange" href="{{ item.link }}" target="{{ item.target }}" {{ item.target == '_blank' ? 'rel="noopener"' }}>
				{{ item.title }}
			</a>
		</li>
	{% endfor %}
	</ul>

	<p class="text-sm mt-10 text-owl-dark-blue text-center dark:text-gray-400">
		{{ site.name }} &copy; {{ now|date('Y') }}. Crafted with love by <a href="https://maciekpalmowski.dev/" rel="noopener" target="_blank" title="Maciej Palmowski - WordPress Developer & DevRel Specialist" class="hover:text-owl-orange text-owl-green dark:text-owl-dark-beige dark:hover:text-owl-light-green">Maciej Palmowski</a> and <a href="https://agnieszkapalmowska.myportfolio.com/" target="_blank" title="Agnieszka Palmowska - UI Designer" rel="noopener" class="hover:text-owl-orange text-owl-green dark:text-owl-dark-beige dark:hover:text-owl-light-green">Agnieszka Palmowska</a>
	</p>

	<div class="links flex flex-row gap-x-6 items-center content-center justify-center mt-10">
		{% if options.facebook %}
		<a href="{{ options.facebook }}" target="_blank" rel="noopener" aria-label="facebook">
			{% include 'views/parts/icons/facebooktw.twig' with { 'icon_color': 'fill-owl-green dark:fill-owl-green' } %}
		</a>
		{% endif %}
		{% if options.linkedin %}
		<a href="{{ options.linkedin }}" target="_blank" rel="noopener" aria-label="linkedin">
			{% include 'views/parts/icons/linkedintw.twig' with { 'icon_color': 'fill-owl-green dark:fill-owl-green' } %}
		</a>
		{% endif %}
		{% if options.instagram %}
		<a href="{{ options.instagram }}" target="_blank" rel="noopener" aria-label="instagram">
			{% include 'views/parts/icons/instagramtw.twig' with { 'icon_color': 'fill-owl-green dark:fill-owl-green' } %}
		</a>
		{% endif %}
		{% if options.twitter %}
		<a href="{{ options.twitter }}" target="_blank" rel="noopener" aria-label="twitter">
			{% include 'views/parts/icons/twittertw.twig' with { 'icon_color': 'fill-owl-green dark:fill-owl-green' } %}
		</a>
		{% endif %}
		{% if options.anchor %}
		<a href="{{ options.anchor }}" target="_blank" rel="noopener" aria-label="anchor">
			{% include 'views/parts/icons/anchortw.twig' with { 'icon_color': 'fill-owl-green dark:fill-owl-green' } %}
		</a>
		{% endif %}
	</div>
</footer>
