{#
{% if menu.top_menu.get_items %}
<nav class="header-nav">
	<ul>
		{% for item in menu.top_menu.get_items %}
		<li>
			<a href="{{ item.link }}" target="{{ item.target }}" {{ item.target == '_blank' ? 'rel="noopener"' }}>{{ item.title }}</a>
		</li>
		{% endfor %}
	</ul>
</nav>
{% endif %}
#}

<header id="header" class="{{ body_class }}">
	<div class="header-left">
		<div class="outer-menu">
			<input class="checkbox-toggle" type="checkbox" />
			<div class="hamburger">
				<div></div>
			</div>
			<div class="menu">
				<div>
					<div>
						{% if menu.top_menu.get_items %}
							<ul>
								{% for item in menu.top_menu.get_items %}
								<li>
									<a href="{{ item.link }}" target="{{ item.target }}" {{ item.target == '_blank' ? 'rel="noopener"' }}>{{ item.title }}</a>
								</li>
								{% endfor %}
								<li class="socials">
									<div class="links">
										{% if options.facebook %}
										<a href="{{ options.facebook }}" target="_blank" rel="noopener" aria-label="facebook">
											{% include 'views/parts/icons/facebook.twig' %}
										</a>
										{% endif %}
										{% if options.linkedin %}
										<a href="{{ options.linkedin }}" target="_blank" rel="noopener" aria-label="linkedin">
											{% include 'views/parts/icons/linkedin.twig' %}
										</a>
										{% endif %}
										{% if options.instagram %}
										<a href="{{ options.instagram }}" target="_blank" rel="noopener" aria-label="instagram">
											{% include 'views/parts/icons/instagram.twig' %}
										</a>
										{% endif %}
										{% if options.twitter %}
										<a href="{{ options.twitter }}" target="_blank" rel="noopener" aria-label="twitter">
											{% include 'views/parts/icons/twitter.twig' %}
										</a>
										{% endif %}
										{% if options.anchor %}
										<a href="{{ options.anchor }}" target="_blank" rel="noopener" aria-label="anchor">
											{% include 'views/parts/icons/anchor.twig' %}
										</a>
										{% endif %}
									</div>
								</li>
							</ul>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="header-center">
		<div class="item logo">
			<a href="{{ site.url }}" class="logo" aria-label="{{ __( 'Strona główna', 'sasquatch' ) }}">
				{% include 'views/parts/logo.twig' %}
				{#<span>
					<strong>{{ site.name }}</strong>
				</span>#}
			</a>
		</div>
	</div>

	<div class="header-right">
		<div class="column-icons">
			<div class="item search">
				{% if options.search_form_page.url %}
				<a href="{{ options.search_form_page.url }}" class="button color-switcher" id="search-icon"
					aria-label="{{ options.search_form_page.title }}">
					{% include 'views/parts/icons/search.twig' %}
				</a>
				{% endif %}
			</div>

			{# <div class="item socials">
				<div class="links">
					{% if options.facebook %}
					<a href="{{ options.facebook }}" target="_blank" rel="noopener" aria-label="facebook">
						{% include 'views/parts/icons/facebook.twig' %}
					</a>
					{% endif %}
					{% if options.linkedin %}
					<a href="{{ options.linkedin }}" target="_blank" rel="noopener" aria-label="linkedin">
						{% include 'views/parts/icons/linkedin.twig' %}
					</a>
					{% endif %}
					{% if options.instagram %}
					<a href="{{ options.instagram }}" target="_blank" rel="noopener" aria-label="instagram">
						{% include 'views/parts/icons/instagram.twig' %}
					</a>
					{% endif %}
					{% if options.twitter %}
					<a href="{{ options.twitter }}" target="_blank" rel="noopener" aria-label="twitter">
						{% include 'views/parts/icons/twitter.twig' %}
					</a>
					{% endif %}
					{% if options.anchor %}
					<a href="{{ options.anchor }}" target="_blank" rel="noopener" aria-label="anchor">
						{% include 'views/parts/icons/anchor.twig' %}
					</a>
					{% endif %}
				</div>
			</div> #}

			<div class="item switcher">
				<a href="#" class="button color-switcher" id="themeswitcher" aria-label="{{ __( 'Zmień tryb strony', 'sasquatch' ) }}">
					{% include 'views/parts/icons/switcher.twig' %}
				</a>
			</div>

			{# {% if options.napis_partner %}
			<div class="item partner">
				<span>{{ options.napis_partner }}</span>
				<a href="{{ options.link }}" target="_blank">
					<picture>
						<source
							type="image/webp"
							src="{{ Image(options.logo).src|towebp }}"
							width="{{ Image(options.logo).width }}"
							height="{{ Image(options.logo).height }}"
							alt=""
						>
						<img
							src="{{ Image(options.logo).src }}"
							width="{{ Image(options.logo).width }}"
							height="{{ Image(options.logo).height }}"
							alt=""
						>
					</picture>
				</a>
			</div>
			{% endif %} #}
		</div>

	</div>

</header>

{# {% if options.napis_partner %}
<div class="partner-mobile">
	<span>{{ options.napis_partner }}</span>
		<picture>
			<source
				type="image/webp"
				src="{{ Image(options.logo).src|towebp }}"
				width="{{ Image(options.logo).width }}"
				height="{{ Image(options.logo).height }}"
				alt=""
			>
			<img
				src="{{ Image(options.logo).src }}"
				width="{{ Image(options.logo).width }}"
				height="{{ Image(options.logo).height }}"
				alt=""
			>
		</picture>
</div>
{% endif %} #}
